<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="toFeature" class="org.geoserver.wps.gs.ToFeature" />

	<!-- The PPIO that need to be registered into SPI because of their dependencies -->
	<bean id="featureAttributePPIO" class="org.geoserver.wps.ppio.FeatureAttributePPIO" />

</beans>