<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- GetFeatureInfo output formats -->
    <bean id="wmsGetFeatureInfoGeoJSON" class="org.geoserver.wms.featureinfo.GeoJSONFeatureInfoOutputFormat">
      <constructor-arg ref="wms" />
      <constructor-arg value="application/json" />
    </bean>   
    
    <bean id="wmsGetFeatureInfoGeoJSONP" class="org.geoserver.wms.featureinfo.GeoJSONFeatureInfoOutputFormat">
      <constructor-arg ref="wms" />
      <constructor-arg value="text/javascript" />
    </bean>   
</beans>
